#Compiled executables
*.out

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Gedit temporary files
*~

#build directory
build/*

#hidden files
.*
!.gitignore